<div class="vertical-center gradient row">
    <div id='top' class="col-xs-12 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 move-up">
        <h2>Recipicon</h2>
        <img class="img-responsive" src="img/recepicon_s.png" alt="Recipicon" />     
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.clearAlert($index)">{{alert.msg}}</div>
        <div align="center" ng-show="vm.forgot">Forgot your password? <a ng-click="vm.setMode('request')">Request a password reset!</a></div>
        <form name="form" ng-submit="" role="form">
            <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }" ng-show="(vm.mode=='signup') || (vm.mode=='signin') || (vm.mode=='request')">
                <label for="username">Email</label>
                <input type="text" autocorrect="off" autocapitalize="none" name="username" id="username" class="form-control" ng-model="vm.username" required />
                <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
            </div>
            <div class="form-group" ng-show="vm.mode=='reset'">
                <label for="reset_email">Email</label>
                <input type="text" name="reset_email" id="reset_email" class="form-control" ng-model="vm.username"/>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }" ng-show="(vm.mode=='signup') || (vm.mode=='signin') || (vm.mode=='reset')">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required/>
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>                
            </div>
            <div class="form-group" ng-class="{ 'has-error': (form.confirm_password.$dirty && form.confirm_password.$error.required) || (vm.password != vm.confirmPassword) }" ng-show="(vm.mode=='signup') || (vm.mode=='reset')">
                <label for="confirm_password">Confirm password</label>
                <input type="password" name="confirm_password" id="confirm_password" class="form-control" ng-model="vm.confirmPassword" ng-minlength="vm.minPasswordLength"/>
                <span ng-show="vm.password!=vm.confirmPassword" class="help-block">Passwords should be identical.</span>
                <span ng-show="form.confirm_password.$dirty && !form.confirm_password.$valid" class="help-block">Password should be at least {{vm.minPasswordLength}} characters</span>                
            </div>
            <div class="form-group" ng-show="(vm.mode=='signup')">
                <input type="checkbox" ng-model="vm.agreement"/>
                <span>I have read and I accept the service <a ng-click="vm.modalTerms()">terms and conditions</a>.</span>
            </div>

            <div class="form-actions">
                <div align="center" ng-show="vm.mode == 'signin'">
                    <p>
                        <button ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary" ng-click="vm.login()">Login <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-if="vm.dataLoading"></button>                        
                    </p>
                    <p>
                        No account yet? <a ng-click="vm.setMode('signup')">Sign-up!</a>
                    </p>
                </div>
                 <div align="center" ng-show="vm.mode == 'signup'">
                     <p>
                        <button ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary" ng-click="vm.signup()">Sign-up <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-if="vm.dataLoading"></button>                        
                     </p>
                    <p>
                        Already have an account? <a ng-click="vm.setMode('signin')">Sign in!</a>
                    </p>
                </div>
                 <div align="center" ng-show="vm.mode == 'request'">
                     <p>
                        <button ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary" ng-click="vm.requestPasswordRequest()">Send pasword reset request<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-if="vm.dataLoading"></button>
                    </p>
                    <p>
                        No account yet? <a ng-click="vm.setMode('signup')">Sign-up!</a>
                    </p>                        
                </div>
                <div align="center" ng-show="vm.mode == 'reset'">
                     <p>
                        <button ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary" ng-click="vm.resetPassword()">Reset password<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-if="vm.dataLoading"></button>
                    </p>
                    <p>
                        Different user? <a ng-click="vm.username='';vm.setMode('signin')">Sign in!</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
