<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Terms and Conditions</h4>
      </div>
    <div>
      <p>
RECIPICON and its associates provide their services to you subject to the following conditions.
 If you visit this website, you accept these conditions. Please read them carefully.
 </p>


<h4>	Privacy Policy</h4>

<p>	Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to 
  understand how we collect, use, communicate and disclose and make use of personal information. The following
   outlines our privacy policy.</p>

<ul>
	<li>
		Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
	</li>
	<li>
		We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.		
	</li>
	<li>
		We will only retain personal information as long as necessary for the fulfillment of those purposes. 
	</li>
	<li>
		We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned. 
	</li>
	<li>
		Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date. 
	</li>
	<li>
		We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
	</li>
	<li>
		We will make readily available to customers information about our policies and practices relating to the management of personal information. 
	</li>
</ul>

<p>
	We are committed to conducting our business in accordance with these principles in order to ensure that the
   confidentiality of personal information is protected and maintained. 
</p>

<h4>Electronic Communications</h4>
<p>When you visit RECIPICON or send e-mails to us, you are communicating with us electronically. 
You consent to receive communications from us electronically. We will communicate with you by e-mail or by
 posting notices on this site. You agree that all agreements, notices, disclosures and other communications 
 that we provide to you electronically satisfy any legal requirement that such communications be in writing.</p>

<h4>Copyright</h4>
<p>All content included on this site, such as text, graphics, logos, button icons, images, audio clips, digital
 downloads, data compilations, and software, is the property of RECIPICON or its content suppliers and protected 
 by international copyright laws. The compilation of all content on this site is the exclusive property of RECIPICON, 
 with copyright authorship for this collection by RECIPICON, and protected by international copyright laws.</p>

<h4>Trade Marks</h4>
<p>RECIPICONs trademarks and trade dress may not be used in connection with any product or service that is not 
RECIPICONs, in any manner that is likely to cause confusion among customers, or in any manner that disparages 
or discredits RECIPICON. All other trademarks not owned by RECIPICON or its subsidiaries that appear on this 
site are the property of their respective owners, who may or may not be affiliated with, connected to, or
 sponsored by RECIPICON or its subsidiaries.</p>

<h4>License and Site Access</h4>
<p>RECIPICON grants you a limited license to access and make personal use of this site and not to download (other 
than page caching) or modify it, or any portion of it, except with express written consent of RECIPICON. This 
license does not include any resale or commercial use of this site or its contents: any collection and use of 
any product listings, descriptions, or prices: any derivative use of this site or its contents: any downloading 
or copying of account information for the benefit of another merchant: or any use of data mining, robots, or
 similar data gathering and extraction tools. This site or any portion of this site may not be reproduced, 
 duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express 
 written consent of RECIPICON. You may not frame or utilize framing techniques to enclose any trademark, logo,
 or other proprietary information (including images, text, page layout, or form) of RECIPICON and our associates 
 without express written consent. You may not use any meta tags or any other "hidden text" utilizing RECIPICONs 
 name or trademarks without the express written consent of RECIPICON. Any unauthorized use terminates the permission 
 or license granted by RECIPICON. You are granted a limited, revocable, and nonexclusive right to create a
  hyperlink to the home page of RECIPICON so long as the link does not portray RECIPICON, its associates, or their
   products or services in a false, misleading, derogatory, or otherwise offensive matter. You may not use any 
   RECIPICON logo or other proprietary graphic or trademark as part of the link without express written permission.</p>

<h4>Your Membership AcccountT</h4>
<p>If you use this site, you are responsible for maintaining the confidentiality of your account and password
 and for restricting access to your computer, and you agree to accept responsibility for all activities that
  occur under your account or password. If you are under 18, you may use our website only with involvement
   of a parent or guardian. RECIPICON and its associates reserve the right to refuse service, terminate accounts,
    remove or edit content, or cancel orders in their sole discretion.</p>

<h4>Reviews, Comments, Emils and Other Content</h4>
<p>Visitors may post reviews, comments, and other content: and submit suggestions, ideas, comments, questions, 
or other information, so long as the content is not illegal, obscene, threatening, defamatory, invasive of 
privacy, infringing of intellectual property rights, or otherwise injurious to third parties or objectionable 
and does not consist of or contain software viruses, political campaigning, commercial solicitation, chain
 letters, mass mailings, or any form of "spam." You may not use a false e-mail address, impersonate any person 
 or entity, or otherwise mislead as to the origin of a card or other content. RECIPICON reserves the right
 (but not the obligation) to remove or edit such content, but does not regularly review posted content. If you
  do post content or submit material, and unless we indicate otherwise, you grant RECIPICON and its associates 
  a nonexclusive, royalty-free, perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify,
   adapt, publish, translate, create derivative works from, distribute, and display such content throughout the 
   world in any media. You grant RECIPICON and its associates and sublicensees the right to use the name that
    you submit in connection with such content, if they choose. You represent and warrant that you own or 
    otherwise control all of the rights to the content that you post: that the content is accurate: that use
     of the content you supply does not violate this policy and will not cause injury to any person or entity:
      and that you will indemnify RECIPICON or its associates for all claims resulting from content you supply.
       RECIPICON has the right but not the obligation to monitor and edit or remove any activity or content. 
       RECIPICON takes no responsibility and assumes no liability for any content posted by you or any third party.</p>

<h4>Risk of Loss</h4>
<p>All items purchased from RECIPICON are made pursuant to a shipment contract. This basically means that the 
risk of loss and title for such items pass to you upon our delivery to the carrier.

<h4>Product descriptions</h4>
RECIPICON and its associates attempt to be as accurate as possible. However, RECIPICON does not warrant 
that product descriptions or other content of this site is accurate, complete, reliable, current, or 
error-free. If a product offered by RECIPICON itself is not as described, your sole remedy is to return it in unused condition. </p>

<p>ISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY THIS SITE IS PROVIDED BY RECIPICON ON AN "AS IS" AND 
"AS AVAILABLE" BASIS. RECIPICON MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS 
TO THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUDED ON THIS SITE.
 YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK. TO THE FULL EXTENT PERMISSIBLE BY
  APPLICABLE LAW, RECIPICON DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO,
   IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. RECIPICON DOES NOT WARRANT 
   THAT THIS SITE, ITS SERVERS, OR E-MAIL SENT FROM RECIPICON ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
    RECIPICON WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, INCLUDING,
     BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES. CERTAIN STATE 
     LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. 
     IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT
      APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS. </p>

<h4>Applicable Law</h4>
<p>By visiting RECIPICON, you agree that the laws of the state of Noord Brabant, The Netherlands,
 without regard to principles of conflict of laws, will govern these Conditions of Use and any dispute 
 of any sort that might arise between you and RECIPICON or its associates.</p>

<h4>Disputes</h4>
<p>Any dispute relating in any way to your visit to RECIPICON or to products you purchase through 
RECIPICON shall be submitted to confidential arbitration in Noord Brabant, The Netherlands, except that, 
to the extent you have in any manner violated or threatened to violate RECIPICONs intellectual property
rights, RECIPICON may seek injunctive or other appropriate relief in any state or federal court in the 
state of Noord Brabant, The Netherlands, and you consent to exclusive jurisdiction and venue in such 
courts. </p>

<h4>Site Policies, Modificaion and Severability</h4>
<p>Please review our other policies posted on this site. These policies also govern your visit to RECIPICON. 
We reserve the right to make changes to our site, policies, and these Conditions of Use at any time. If any
 of these conditions shall be deemed invalid, void, or for any reason unenforceable, that condition shall be
  deemed severable and shall not affect the validity and enforceability of any remaining condition.</p>

<h4>Questions</h4>
<p>Questions regarding our Conditions of Usage, Privacy Policy, or other policy related material can be 
directed to our support staff by email at: info@RECIPICON.com</p>
 
    </div>
      <div class="modal-footer"> 
        <button type="button" ng-click="vm.entryClose('dismiss')" class="btn btn-default" data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>