<div class="row" style="text-align:center;" ng-if="vm.loading">   
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading ...
</div>
<div ng-if="!vm.loading">
    <h3>
        {{vm.recipe.name}}
        <small ng-if="vm.recipe.in_shopping_list">(in shopping list)</small>
    </h3>
    <div class="row">
        <div class="panel col-xs-6">        
            <button type="button" ng-if="!vm.recipe.in_shopping_list" ng-click="vm.addToBasket()">
                Add to list
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-if="vm.selecting"></span>
            </button> 
            <button type="button" ng-if="vm.recipe.in_shopping_list" ng-click="vm.removeFromBasket()">
                Remove from list
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-if="vm.selecting"></span>
            </button>   
        </div>
        <div class="panel col-xs-6 text-right">
            <button type="button" ng-click="vm.edit()">
                Edit
            </button>
            <button type="button"  ng-click="vm.remove()">
                Delete
                <span class="glyphicon glyphicon-trash" ng-if="!vm.deleting"></span>
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-if="vm.deleting"></span>
            </button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Description : {{vm.recipe.category}} | {{vm.recipe.duration}} min.
            </h3>
        </div>
        <div class="panel-body">            
            <div ng-repeat="paragraph in vm.recipeDescription track by $index">{{paragraph}}</div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                List of ingredients <i>({{vm.recipe.serves}} serves)</i>
            </h3>
        </div>
        <div class="panel-body">
            <ul>
                <li ng-repeat="ingredient in vm.recipe.recipe_ingredients">
                    {{ingredient.ingredient}} ( {{ingredient.quantity}} {{ingredient.unit}} )
                </li> 
            </ul>
        </div>
    </div>
    
    <div style="text-align:center;" >
        <a ui-sref="recipes"><i>back to recipes</i></a>
    </div>
</div>