<div class="row" style="text-align:center;"  ng-if="vm.isLoading()">   
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading ...
</div>
<div ng-if="!vm.isLoading()">
    <h3 class="text-center">
        Shopping list {{vm.shoppingList.name}} </br>
        <small>organize</small>
    </h3>
     
                  <div class="panel">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <a type="button" class="btn btn-primary btn-sm" ng-click="vm.edit()">
                Add <span class="glyphicon glyphicon-home">
            </a>
            <a type="button" class="btn btn-primary btn-sm" ng-click="vm.organize()">
                Edit <span class="glyphicon glyphicon-home">
            </a>
            <a type="button" class="btn btn-primary btn-sm" ng-click="vm.create()">
                Delete <span class="glyphicon glyphicon-home">
            </a>
        </div>
    </div>
     
    <form name="shoppingList" novalidate>
        <!-- ============================================ Ingredients ========== -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                   Ingredients 
                   <span ng-if="vm.getShops().length > 0">
                       @ 
                       <select ng-model="vm.selectedShopId"                           
                                ng-options="shop.id as shop.name for shop in vm.getShops()" 
                                ng-change="vm.setShop()"
                                >                      
                        </select>
                    </span>      

                   <button type="button" class="btn btn-primary btn-sm header-button" ng-click="vm.modalAddLocation()"> 
                   +<span class="glyphicon glyphicon-tag header-button" ng-if="!vm.addingLocation"></span>
                   <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-if="vm.addingLocation"></span>
                   </button>                   
                </h3>                
            </div>

            <div class="panel-body">   
              <!-- ============================== known location ======== -->
              <table class="table table-striped" ng-repeat="location in vm.getShopLocations(vm.selectedShopId) | orderBy : 'name'">
                <tbody>
                  <tr>
                    <td>                    
                    <span class="glyphicon glyphicon-tag text-muted"></span>
                    <a ng-click="vm.modalEditLocation(location)">
                    {{location.name}}
                    </a>                     
                    <a ng-click="vm.deleteShopLocation(location.id);" ng-if="location.id != vm.deletingLocation">
                        <span style="color:#ff471a;font-size:0.75em;" class="glyphicon glyphicon glyphicon-minus-sign selectable header-button"></span>                        
                    </a>
                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate header-button" ng-if="location.id == vm.deletingLocation"></span>
                    </td>        
                  </tr>
                  <tr>
                    <td>
                        <ul>
                            <li ng-repeat="ingredient in vm.getListIngredients()"  ng-if="vm.ingredientInLocation(ingredient.id, location.id)">
                                <a ng-click="vm.modalChangeLocation(ingredient.id, location.id)" ng-if="ingredient.id != vm.settingLocation">
                                {{vm.getIngredient(ingredient.id)}}
                                </a>
                                <span ng-if="ingredient.id == vm.settingLocation">{{vm.getIngredient(ingredient.id)}}</span>
                                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-if="ingredient.id == vm.settingLocation"></span>
                            </li>
                       </ul> 
                    </td>        
                  </tr>
                </tbody>
              </table>
               <!-- ================================= unnnsorted ======== -->
               <table class="table table-striped" ng-if="!vm.allIngredientsInLocation(vm.selectedShopId)">
                <tbody>
                  <tr>
                    <td>
                        <span class="glyphicon glyphicon-tag text-muted" ></span> unsorted
                    </td>        
                  </tr>
                  <tr>
                    <td>
                        <ul>
                            <li ng-repeat="ingredient in vm.getListIngredients()" ng-if="!vm.ingredientInShop(ingredient.id,vm.selectedShopId)">
                                <a ng-click="vm.modalChangeLocation(ingredient.id, null)" ng-if="ingredient.id != vm.settingLocation">
                                {{vm.getIngredient(ingredient.id)}}
                                </a>
                                <span ng-if="ingredient.id == vm.settingLocation">{{vm.getIngredient(ingredient.id)}}</span>
                                 <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-if="ingredient.id == vm.settingLocation"></span>
                            </li>
                       </ul> 
                    </td>        
                  </tr>
                </tbody>
              </table>                    
            
            </div> 
        </div>
        <!-- =================================================================== -->   
        <p class="text-center">
            <button type="button" class="btn btn-primary" ng-click="">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click=""><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-if="vm.saving"></span> Save</button>
        </p>
    </form>
    
</div>


