<div class="row" style="text-align:center;" ng-if="vm.loading">   
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading ...
</div>

<div class="panel panel-default" ng-if="!vm.loading">
    <div class = "panel-heading">
    <h3 class="panel-title">
       Recipes: {{vm.numberRecipes}}
    </h3>
    </div>
</div>

<div style="text-align:center;" ng-if="!vm.loading">
    <em> per category </em>
</div>

<div class="row" style="text-align:center;">
    <div id="recipeStatPanel"></div>
</div>

<div class="panel panel-default" ng-if="!vm.loading">
    <div class = "panel-heading">
    <h3 class="panel-title">
        Ingredients: {{vm.numberIngredients}}
    </h3>
    </div>
</div>

<div style="text-align:center;" ng-if="!vm.loading">
    <p><em> ranking on number of recipes </em></p>
</div>

<div class="row" style="text-align:center;">
    <div id="ingredientsStatPanel"></div>
</div>

